#main_div{
    float: left;
    width: 100%;
    height: 200px;
    background-color: aqua;
    /* in overflow--hidden,visible,scroll */
    overflow:auto;
    margin-top: 150px;
    margin-bottom: 20px;
}
img{
    opacity: 0.5;
}
img:hover{
  opacity: 1;  
}
/* grouping pro */
table,td{
    border-bottom: 5px solid black;
    border-collapse: collapse;
    text-align: center;
    height: 70px;
    font-size:20px;
    /* background-color: palevioletred; */
}
table{
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
}
td{
    padding-top: 10px;
    padding-left: 10px;
}
/* when hover color will change */
tr:hover{
    background-color: aqua;
}
#div_position{
    
/* position: :static; */
/* position: relative; */
border: 5px solid greenyellow;
/* border-color: black;
border-width: 5px;
border-style: double; */
width: 1000px;
position: relative;
/* position: fixed; */
right: 0  ;
top: 50px;
margin-bottom: 100px;
/* overflow: hidden; */
}